# Standard C/Automake goo
.deps
.libs
.dirstamp
*.typelib
*.la
*.lo
*.o
*.pyc
*.stamp
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
INSTALL
install-sh
libtool
ltmain.sh
missing
stamp-h1
ylwrap
py-compile
config
m4
po
ABOUT-NLS
_build

/build-aux/test-driver

/doc/ostree-decl.txt
/doc/ostree-overrides.txt
/doc/ostree-undeclared.txt
/doc/ostree-undocumented.txt
/doc/ostree-unused.txt
/doc/ostree.types
/doc/version.xml
/doc/tmpl
/doc/html
/doc/xml
/doc/ostree.1

/ostree
/ostree-prepare-root
/ostree-remount
/OSTree-1.0.gir

/src/libostree/ostree-1.pc

/test-admin-deploy-1.test
/test-admin-deploy-2.test
/test-archivez.test
/test-basic.test
/test-corruption.test
/test-libarchive.test
/test-pull-archive-z.test
/test-pull-corruption.test
/test-pull-resume.test
/test-remote-add.test
/test-setuid.test
/test-xattrs.test
test-varint
test*.test
*.trs
*.log

*.tar.xz
*.src.rpm
packaging/*.spec
