[submodule "libglnx"]
	path = libglnx
	url = https://github.com/GNOME/libglnx
[submodule "bsdiff"]
	path = bsdiff
	url = https://github.com/mendsley/bsdiff
[submodule "composefs"]
	path = composefs
	url = https://github.com/containers/composefs.git
