!Makefile
*.log
*.test
*.trs
ostree-http-server
repo-finder-mount
run-apache
tmpdir-lifecycle
test-rollsum
test-bloom
test-bsdiff
test-checksum
test-gpg-verify-result
test-include-ostree-h
test-keyfile-utils
test-mutable-tree
test-ot-opt-utils
test-ot-tool-util
test-ot-unix-utils
test-repo
test-repo-finder-avahi
test-repo-finder-config
test-repo-finder-mount
test-rfc2616-dates
test-rollsum-cli
test-kargs
test-commit-sign-sh-ext
