*.lo
*.o
.deps
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/gtkdoc-check.test
/html
/html-build.stamp
/html.stamp
/ostree-decl-list.txt
/ostree-decl.txt
/ostree-undeclared.txt
/ostree-undocumented.txt
/ostree-unused.txt
/ostree.args
/ostree.hierarchy
/ostree.interfaces
/ostree-overrides.txt
/ostree.pdf
/ostree.prerequisites
/ostree.signals
/ostree.types
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl
/tmpl/*.bak
/tmpl/ostree-unused.sgml
/xml
/version.xml
_libs
