# Copyright (C) 2013 Colin Walters <walters@verbum.org>
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place - Suite 330,
# Boston, MA 02111-1307, USA.

[Unit]
Description=OSTree Remount OS/ bind mounts
DefaultDependencies=no
ConditionKernelCommandLine=ostree
OnFailure=emergency.service
Conflicts=umount.target
After=-.mount
After=systemd-remount-fs.service
Before=local-fs.target umount.target
# Other early boot units that need to write to /var
Before=systemd-random-seed.service plymouth-read-write.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ostree-remount
StandardInput=null
StandardOutput=syslog
StandardError=syslog+console

[Install]
WantedBy=local-fs.target
