# SPDX-License-Identifier: LGPL-2.0+

[Unit]
Description=OSTree Shutdown
Documentation=man:ostree(1)
DefaultDependencies=no
# Only enabled via generator, but for good measure
ConditionKernelCommandLine=ostree
# Run after core mounts
RequiresMountsFor=/etc /sysroot
# However, we want to only shut down after `/var` has been umounted.
# Since this runs via ExecStop, this Before= is actually After= at shutdown
Before=var.mount
Conflicts=umount.target
Before=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/lib/ostree/ostree-remount --shutdown

# No [Install] section - we're only enabled via generator
