# Copyright (C) 2013 Colin Walters <walters@verbum.org>
#
# SPDX-License-Identifier: LGPL-2.0+

[Unit]
Description=OSTree Remount OS/ bind mounts
DefaultDependencies=no
ConditionKernelCommandLine=ostree
OnFailure=emergency.service
Conflicts=umount.target
After=-.mount
After=systemd-remount-fs.service
Before=local-fs.target umount.target
# Other early boot units that need to write to /var
Before=systemd-random-seed.service plymouth-read-write.service systemd-journal-flush.service
# tmpfiles.d usually needs write access to a few places
Before=systemd-tmpfiles-setup.service

[Service]
Type=oneshot
ExecStart=/usr/lib/ostree/ostree-remount
StandardInput=null
StandardOutput=syslog
StandardError=syslog+console

[Install]
WantedBy=local-fs.target
