name: ci-bootc

permissions:
  actions: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        stream: [stream9, stream10]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/bootc-ubuntu-setup
      - name: build
        run: sudo STREAM=${{ matrix.stream }} just build
      - name: unitcontainer
        run: sudo STREAM=${{ matrix.stream }} just unitcontainer
      - name: unittest
        run: sudo STREAM=${{ matrix.stream }} just unittest
      - name: bootc install
        run: |
          set -xeuo pipefail
          sudo podman run --env BOOTC_SKIP_SELINUX_HOST_CHECK=1 --rm -ti --privileged -v /:/target --pid=host --security-opt label=disable \
            -v /dev:/dev -v /var/lib/containers:/var/lib/containers \
            localhost/ostree:latest bootc install to-filesystem --skip-fetch-check \
             --replace=alongside /target
          # Verify labeling for /etc
          sudo ls -dZ /ostree/deploy/default/deploy/*.0/etc |grep :etc_t:
      - name: Upload test logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-suite-log-${{ matrix.stream }}
          path: target/unittest
